<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Bereich Angeben</title>
</head>
<body>

    <form th:action="@{/bereich-speichern}"
          th:object="${bereich}"
          method="post">

        <h2>Bereich Eingeben</h2>

        <input type="hidden" th:field="*{bereich_id}">

        <p>
            <label>
                Name:
                <input th:field="*{name}" placeholder="Name" required>
            </label>
        </p>
        <p>
            <label>
                Kontakt:
                <input th:field="*{kontaktdaten}" placeholder="Kontakt">
            </label>
        </p>
        <p>
            <label>
                Beschreibung:
                <input th:field="*{beschreibung}" placeholder="Beschreibung">
            </label>
        </p>

        <button type="submit" >
            Speichern
        </button>
        <button>
            <a th:href="@{/}">
                Abbrechen
            </a>
        </button>

    </form>

</body>
</html>