<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Übersicht</title>
</head>
<body>

    <h1>Bereiche</h1>
    <div th:each="bereich : ${bereiche}">
        <details>
            <summary th:text="${bereich.name}">
            </summary>
            <p>
                <strong>Kontakt:</strong>
                <span th:text="${bereich.kontaktdaten}"></span>
            </p>
            <p>
                <strong>Beschreibung:</strong>
                <span th:text="${bereich.beschreibung}"></span>
            </p>
            <p>
                <button>
                    <a th:href="@{/bereich-bearbeiten/{id}(id=${bereich.bereich_id})}">
                        Bereich Bearbeiten
                    </a>
                </button>
                <button onclick="return confirm('Wirklich löschen?')">
                    <a th:href="@{/bereich-loeschen/{id}(id=${bereich.bereich_id})}">
                        Bereich Löschen
                    </a>
                </button>
            </p>

            <details th:each="person : ${bereich.personen}">
                <summary th:text="${person.name}">
                </summary>
                <p>
                    <strong>Anrede:</strong>
                    <span th:text="${person.anrede}"></span>
                </p>
                <p>
                    <strong>Kontakt:</strong>
                    <span th:text="${person.kontaktdaten}"></span>
                </p>

                <p>
                    <strong>Beschreibung:</strong>
                    <span th:text="${person.beschreibung}"></span>
                </p>

                <button>
                    <a th:href="@{/person-bearbeiten/{id}(id=${person.person_id})}">
                        Person Bearbeiten
                    </a>
                </button>
                <button onclick="return confirm('Wirklich löschen?')">
                    <a th:href="@{/person-loeschen/{id}(id=${person.person_id})}">
                        Person Löschen
                    </a>
                </button>

            </details>
        </details>

        <hr>

    </div>

    <p>
        <button>
            <a th:href="@{/neuer-bereich}">
                Bereich Hinzufügen
            </a>
        </button>
        <button>
            <a th:href="@{/personen/neue-person}">
                Person Hinzufügen
            </a>
        </button>
    </p>
    <button>
        <a th:href="@{/personen}">
            Personenliste
        </a>
    </button>

</body>
</html>