<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Übersicht</title>
</head>
<body>

    <h1>Bereiche</h1>
    <div th:each="bereich : ${bereiche}">
        <details>
            <summary th:text="${bereich.name}">
            </summary>
            <p>
                <strong>Kontakt:</strong>
                <span th:text="${bereich.kontaktdaten}"></span>
            </p>
            <p>
                <strong>Beschreibung:</strong>
                <span th:text="${bereich.beschreibung}"></span>
            </p>
            <p>
                Bearbeiten
                -
                Löschen
            </p>

            <details th:each="person : ${bereich.personen}">
                <summary th:text="${person.name}">
                </summary>
                <p>
                    <strong>Anrede:</strong>
                    <span th:text="${person.anrede}"></span>
                </p>
                <p>
                    <strong>Kontakt:</strong>
                    <span th:text="${person.kontaktdaten}"></span>
                </p>

                <p>
                    <strong>Beschreibung:</strong>
                    <span th:text="${person.beschreibung}"></span>
                </p>

                Bearbeiten
                -
                Löschen
            </details>
        </details>

        <hr>

    </div>

    <button>
        <a th:href="@{/personen}">
            Personen
        </a>
    </button>
    <button>
        <a th:href="@{/bereiche}">
            Bereiche
        </a>
    </button>

</body>
</html>