<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person Angeben</title>
</head>
<body>

  <form th:action="@{/personen/speichern}"
        th:object="${person}"
        method="post">

    <input type="hidden" th:field="*{person_id}">

    <input th:field="*{name}" placeholder="Name">
    <input th:field="*{anrede}" placeholder="Anrede">
    <input th:field="*{kontaktdaten}" placeholder="Kontakt">
    <input th:field="*{beschreibung}" placeholder="Beschreibung">

      <p><strong>Bereiche auswählen:</strong></p>
      <div th:each="bereich : ${bereiche}">
        <label>
          <input type="checkbox"
                 name="bereichIds"
                 th:value="${bereich.bereich_id}"
                 th:checked="${person.bereiche.contains(bereich)}">
          <span th:text="${bereich.name}"></span>
        </label>
    </div>

    <button type="submit" >
      Speichern
    </button>
    <button>
      <a th:href="@{/personen}">
        Abbrechen
      </a>
    </button>

  </form>

</body>
</html>