<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person Angeben</title>
</head>
<body>

  <form th:action="@{/personen/speichern}"
        th:object="${person}"
        method="post">

    <input type="hidden" th:field="*{person_id}">

    <input th:field="*{name}">
    <input th:field="*{anrede}">
    <input th:field="*{kontaktdaten}">
    <input th:field="*{beschreibung}">

    <select multiple size="6" th:field="*{bereichIds}">
      <div th:each="bereich : ${bereiche}">
        <label>
          <input type="checkbox"
                 th:field="*{bereichIds}"
                 th:value="${bereich.bereich_id()}">

          <span th:text="${bereich.name()}"></span>
        </label>
      </div>
    </select>

    <button type="submit" >
      Speichern
    </button>

  </form>

</body>
</html>