<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Person Angeben</title>
</head>
<body>

  <form th:action="@{/personen/speichern}"
        th:object="${person}"
        method="post">

    <h2>Person Eingeben</h2>

    <input type="hidden" th:field="*{person_id}">

    <p>
      <label>
        Name:
        <input th:field="*{name}" placeholder="Name" required>
      </label>
    </p>

    <p>
      <label>
        Anrede:
        <input th:field="*{anrede}" placeholder="Anrede">
      </label>
    </p>

    <p>
      <label>
        Kontakt:
        <input th:field="*{kontaktdaten}" placeholder="Kontakt">
      </label>
    </p>

    <p>
      <label>
        Beschreibung:
        <input th:field="*{beschreibung}" placeholder="Beschreibung">
      </label>
    </p>

    <p>
      <strong>Bereiche auswählen:</strong>
    </p>

    <div th:each="bereich : ${bereiche}" style="margin-bottom: 15px;">
      <label>
        <input type="checkbox"
               name="bereichIds"
               th:value="${bereich.bereich_id}"
               th:checked="${person.bereiche.contains(bereich)}">
        <span th:text="${bereich.name}"></span>
      </label>
    </div>

    <button type="submit" >
      Speichern
    </button>
    <button>
      <a th:href="@{/personen}">
        Abbrechen
      </a>
    </button>

  </form>

</body>
</html>